body,html{
	width: 100%;height: 100%
}

body{
	background: url("../images/bg.jpg");
	background-size:100% 100%;
}
.div-img(@widht,@height,@url){
	width:@widht;
	height:@height;
	background:url(@url);
	background-size: 100% 100%;
}
.animation-mode1(@delay){
	opacity:0;
	animation-delay:@delay;
	animation-fill-mode:forwards;
}
.section{
	width: 100%;height: 100%;
	font-size: 0.9375rem;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
}
.first{
	.logo{
		.div-img(2.375rem,1.5625rem,"../images/logo.jpg");
		position:absolute;
		top:0;
		left:0.390625rem;
	}
	.slogan{
		.div-img(8.0rem,3.765625rem,"../images/main-til.png");
		position:absolute;
		top:1.53125rem;
		left:1.15625rem;
	}
	.slogan-two{
		.div-img(5.875rem,0.8125rem,"../images/main-til2.png");
		position:absolute;
		top:5.40625rem;
		left:1.0rem;
	}
	.flower-tree{
		.div-img(4.15625rem,7.328125rem,"../images/flowertree.png");
		position:absolute;
		top:4.359375rem;
		right:0;
	}
	.bg-first{
		.div-img(10.0rem,9.15625rem,"../images/bgfirst.png");
		position:absolute;
		bottom:0rem;
		right:0;
	}
	.building{
		.div-img(8.78125rem,5.8125rem,"../images/building.png");
		position:absolute;
		bottom:3.1875rem;
		right:0;
	}
	.cat{
		.div-img(2.390625rem,2.640625rem,"../images/cat.png");
		position:absolute;
		bottom:2.1875rem;
		left:0.25rem;
	}
	.car{
		.div-img(9.53125rem,5.453125rem,"../images/car.png");
		position:absolute;
		bottom:0;
		right:0rem;
	}
	.cloudy{
		.div-img(1.796875rem,0.40625rem,"../images/cloudy.png");
		position:absolute;
		top:0.65625rem;
		right:0.3125rem;
	}
} 