body,html{
	width: 100%;height: 100%
}

body{
	background: url("../images/bg.jpg");
	background-size:100% 100%;
}
.div-img(@widht,@height,@url){
	width:@widht;
	height:@height;
	background:url(@url);
	background-size: 100% 100%;
}
.animation-mode1(@delay){
	opacity:0;
	animation-delay:@delay;
	animation-fill-mode:forwards;
}
.section{
	width: 100%;height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.first{
	.logo{
		.div-img(2.375rem,1.5625rem,"../images/logo.jpg");
		position:absolute;
		top:0;
		left:0.390625rem;
	}
	.slogan{
		.div-img(8.0rem,3.765625rem,"../images/main-til.png");
		position:absolute;
		top:1.53125rem;
		left:1.15625rem;
	}
	.slogan-two{
		.div-img(5.875rem,0.8125rem,"../images/main-til2.png");
		position:absolute;
		top:5.40625rem;
		left:1.0rem;
	}
	.flower-tree{
		.div-img(4.15625rem,7.328125rem,"../images/flowertree.png");
		position:absolute;
		top:4.359375rem;
		right:0;
	}
	.bg-first{
		.div-img(10.0rem,9.15625rem,"../images/bgfirst.png");
		position:absolute;
		bottom:0rem;
		right:0;
	}
	.building{
		.div-img(8.78125rem,5.8125rem,"../images/building.png");
		position:absolute;
		bottom:3.1875rem;
		right:0;
	}
	.cat{
		.div-img(2.390625rem,2.640625rem,"../images/cat.png");
		position:absolute;
		bottom:2.1875rem;
		left:0.25rem;
	}
	.car{
		.div-img(9.53125rem,5.453125rem,"../images/car.png");
		position:absolute;
		bottom:0;
		right:0rem;
	}
	.cloudy{
		.div-img(1.796875rem,0.40625rem,"../images/cloudy.png");
		position:absolute;
		top:0.65625rem;
		right:0.3125rem;
	}
} 
.section.sec{
	background:url("../images/bg2.jpg");
	background-size: 100% 100%;
}
.section.sec{
	.tile{
		.div-img(4.890625rem,1.875rem,"../images/sec_title.png");
		position:absolute;
		top:0.625rem;
		left:0.46875rem;
	}
}
.section.three{
	.ruler{
		.div-img(9.0625rem,6.9375rem,"../images/ruler-box.png");
		display:block;
		margin: 0.4375rem auto 0;
		padding: 1.28125rem 0.5625rem 0;
		box-sizing: border-box;
	}
	.ruler>p{
		font-size: 0.375rem;
		line-height: 0.53125rem;
		color:#fff;
	}
	h1{
		font-size: 24px;
		color:#fff;
		text-align: center;
		margin: 0.65625rem 0 0.421875rem;
	}
	.input-group{
		width:7.03125rem;
		height:1.1875rem;
		border:2px solid #A1D6FA;
		border-radius: 0.59375rem;
		box-sizing: border-box;
		display:block;
		margin:0.3125rem auto;
	}
	.input-group{
		span{
			font-size: 0.5rem;
			color:#135d90;
			line-height: 1.1875rem;
			margin-left: 0.5625rem;
		}
		input.name{
			margin-left: 1.015625rem;
		}
		input{
			height:1.1875rem;
			width:3.9375rem;
			color:#135d90;
			font-size: 0.5rem;
			border:none;
			background:transparent;
		}
	}
	.tip{
		font-size: 0.375rem;
		color:#0f4b75;
		width:7.09375rem;
		display:block;
		margin:0 auto 0;
		line-height: 0.5rem;
	}
	.join{
		.div-img(7.0rem,1.265625rem,"../images/joinbutton.png");
		border:none;
		margin:0.40625rem auto 0;
		display:block;
	}
}
.section.four{
	.tile{
		width:9.0625rem;
		height:2.03125rem;
		background:#2077b1;
		border-radius: 0.125rem;
		margin:0.625rem auto 0;
		color:#fff;
		font-size: 0.4375rem;
		line-height: 0.625rem;
		padding:0.3rem 0.2rem;
		text-align: center;
		box-sizing: border-box;
	}
	.car-warp{
		text-align: center;
		margin-top: 0.59375rem;
	}
	.car-warp{
		>div{
			display:inline-block;
			margin: 0.375rem;
		}
		.car1{
			.div-img(3.75rem,5.203125rem,"../images/car-one.png");
		}
		.car2{
			.div-img(3.75rem,5.203125rem,"../images/car-two.png");
		}
		.car3{
			.div-img(3.75rem,5.203125rem,"../images/car-three.png");
		}
		.car4{
			.div-img(3.75rem,5.203125rem,"../images/car-four.png");
		}
	}
	.hasreward,.norewardwarp{
		width:100%;
		height:100%;
		background:rgba(0,0,0,0.5);
		position:absolute;
		top:0;
		left:0;
	}
	.hasreward{
		.reward{
			.div-img(7.359375rem,9.859375rem,"../images/reward.png");
			margin:1.9375rem auto 0;
			position:relative;
		}
		.reward{
			.button{
				width:100%;
				height:1.09375rem;
				position:absolute;
				bottom:0;
				left:0
			}
		}
	}
	.norewardwarp{
		.noreward{
			.div-img(7.359375rem,9.171875rem,"../images/noreward.png");
			margin:1.9375rem auto 0;
			position:relative;
		}
		.noreward{
			.button{
				width:100%;
				height:1.09375rem;
				position:absolute;
				bottom:0;
				left:0
			}
		}
	}
}
.section.five{
	background:url("../images/bg3.jpg");
	background-size: 100% 100%;
}
.section.five{
	.warp{
		width:8.46875rem;
		height:9.96875rem;
		background:#2077b1;
		border-radius: 0.125rem;
		margin:0.78125rem auto 0;
	}
	.warp{
		p{
			font-size: 0.4375rem;
			color:#fff;
			line-height: 0.625rem;
			padding:0.53125rem 0.6875rem;
		}
		.QRcode{
			.div-img(3.40625rem,3.4375rem,"../images/QRcoed.png");
			margin:0.59375rem auto 0.1875rem;
		}
		p.ftil{
			font-size: 0.375rem;
			color:#9ED6FC;
			line-height: 0.5625rem;
			padding:0;
			text-align: center
		}
		.rankbtn{
			.div-img(3.578125rem,0.78125rem,"../images/rankbtn.png");
			border:none;
			display:block;
			margin:0.46875rem auto 0;
		}
	}
	.rankwarp{
		width:100%;
		height:100%;
		background:rgba(0,0,0,0.5);
		position:absolute;
		top:0;
		left:0;
	}
	.rankwarp{
		.ranklist{
			.div-img(7.359375rem,10.5rem,"../images/ranklist.png");
			margin:1.6875rem auto 0;
			position:relative;
		}
		.list-box{
			width:7.390625rem;
			height:7.90625rem;
			position:absolute;
			bottom:0;
			overflow: scroll;
			padding:0.40625rem 0;
			box-sizing: border-box;
			text-align: center;
		}
		.list-item{
			margin:0.15625rem 0;
		}
		.list-item{
			>span{
				font-size: 0.4375rem;
				color:#56688e;
			}
			>span.phone{
				margin-left: 1.28125rem;
			}
		}
	}
}