body,
html {
  width: 100%;
  height: 100%;
}
body {
  background: url("../images/bg.jpg");
  background-size: 100% 100%;
}
.section {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.first .logo {
  width: 2.375rem;
  height: 1.5625rem;
  background: url("../images/logo.jpg");
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0.390625rem;
  animation: slogan 1s;
}
.first .slogan {
  width: 8rem;
  height: 3.765625rem;
  background: url("../images/main-til.png");
  background-size: 100% 100%;
  position: absolute;
  top: 1.53125rem;
  left: 1.15625rem;
  animation: slogan 1s;
}
.first .slogan-two {
  width: 5.875rem;
  height: 0.8125rem;
  background: url("../images/main-til2.png");
  background-size: 100% 100%;
  position: absolute;
  top: 5.40625rem;
  left: 1.0rem;
  animation: building 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.first .flower-tree {
  width: 4.15625rem;
  height: 7.328125rem;
  background: url("../images/flowertree.png");
  background-size: 100% 100%;
  position: absolute;
  top: 4.359375rem;
  right: 0;
  animation: car 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.first .bg-first {
  width: 10rem;
  height: 11.6875rem;
  background: url("../images/bgfirst.png");
  background-size: 100% 100%;
  position: absolute;
  bottom: 0rem;
  right: 0;
  animation: ground 1s;
}
.first .building {
  width: 8.78125rem;
  height: 5.8125rem;
  background: url("../images/building.png");
  background-size: 100% 100%;
  position: absolute;
  bottom: 3.1875rem;
  right: 0;
  animation: building 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.first .cat {
  width: 2.390625rem;
  height: 2.640625rem;
  background: url("../images/cat.png");
  background-size: 100% 100%;
  position: absolute;
  bottom: 2.859375rem;
  left: 0.25rem;
  animation: building 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.first .car {
  width: 9.53125rem;
  height: 5.453125rem;
  background: url("../images/car.png");
  background-size: 100% 100%;
  position: absolute;
  bottom: 0.15625rem;
  right: 0rem;
  animation: car 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.first .cloudy {
  width: 1.796875rem;
  height: 0.40625rem;
  background: url("../images/cloudy.png");
  background-size: 100% 100%;
  position: absolute;
  top: 0.65625rem;
  right: 0.3125rem;
}
.section.sec {
  background: url("../images/bg2.jpg");
  background-size: 100% 100%;
}
.section.sec .tile {
  width: 4.890625rem;
  height: 1.875rem;
  background: url("../images/sec_title.png");
  background-size: 100% 100%;
  position: absolute;
  top: 0.625rem;
  left: 0.46875rem;
}
.section.sec .place {
  width: 8.84375rem;
  height: 12.1875rem;
  background: url("../images/place.png");
  background-size: 100% 100%;
  position: absolute;
  bottom: 1.25rem;
  left: 0.46875rem;
}
.section.three .ruler {
  width: 9.0625rem;
  height: 6.9375rem;
  background: url("../images/ruler-box.png");
  background-size: 100% 100%;
  display: block;
  margin: 0.4375rem auto 0;
  padding: 1.28125rem 0.5625rem 0;
  box-sizing: border-box;
}
.section.three .ruler > p {
  font-size: 0.375rem;
  line-height: 0.53125rem;
  color: #fff;
}
.section.three h1 {
  font-size: 24px;
  color: #fff;
  text-align: center;
  margin: 0.65625rem 0 0.421875rem;
}
.section.three .input-group {
  width: 7.03125rem;
  height: 1.1875rem;
  border: 2px solid #A1D6FA;
  border-radius: 0.59375rem;
  box-sizing: border-box;
  display: block;
  margin: 0.3125rem auto;
}
.section.three .input-group span {
  font-size: 0.5rem;
  color: #135d90;
  line-height: 1.1875rem;
  margin-left: 0.5625rem;
}
.section.three .input-group input.name {
  margin-left: 1.015625rem;
}
.section.three .input-group input {
  height: 1.1875rem;
  width: 3.9375rem;
  color: #135d90;
  font-size: 0.5rem;
  border: none;
  background: transparent;
}
.section.three .tip {
  font-size: 0.375rem;
  color: #0f4b75;
  width: 7.09375rem;
  display: block;
  margin: 0 auto 0;
  line-height: 0.5rem;
}
.section.three .join {
  width: 7rem;
  height: 1.265625rem;
  background: url("../images/joinbutton.png");
  background-size: 100% 100%;
  border: none;
  margin: 0.40625rem auto 0;
  display: block;
}
.section.four .tile {
  width: 9.0625rem;
  height: 2.03125rem;
  background: #2077b1;
  border-radius: 0.125rem;
  margin: 0.625rem auto 0;
  color: #fff;
  font-size: 0.4375rem;
  line-height: 0.625rem;
  padding: 0.3rem 0.2rem;
  text-align: center;
  box-sizing: border-box;
}
.section.four .car-warp {
  text-align: center;
  margin-top: 0.59375rem;
}
.section.four .car-warp > div {
  display: inline-block;
  margin: 0.375rem;
}
.section.four .car-warp .car1 {
  width: 3.75rem;
  height: 5.203125rem;
  background: url("../images/car-one.png");
  background-size: 100% 100%;
}
.section.four .car-warp .car2 {
  width: 3.75rem;
  height: 5.203125rem;
  background: url("../images/car-two.png");
  background-size: 100% 100%;
}
.section.four .car-warp .car3 {
  width: 3.75rem;
  height: 5.203125rem;
  background: url("../images/car-three.png");
  background-size: 100% 100%;
}
.section.four .car-warp .car4 {
  width: 3.75rem;
  height: 5.203125rem;
  background: url("../images/car-four.png");
  background-size: 100% 100%;
}
.section.four .hasreward,
.section.four .norewardwarp {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}
.section.four .hasreward .reward {
  width: 7.359375rem;
  height: 9.859375rem;
  background: url("../images/reward.png");
  background-size: 100% 100%;
  margin: 1.9375rem auto 0;
  position: relative;
}
.section.four .hasreward .reward .button {
  width: 100%;
  height: 1.09375rem;
  position: absolute;
  bottom: 0;
  left: 0;
}
.section.four .norewardwarp .noreward {
  width: 7.359375rem;
  height: 9.171875rem;
  background: url("../images/noreward.png");
  background-size: 100% 100%;
  margin: 1.9375rem auto 0;
  position: relative;
}
.section.four .norewardwarp .noreward .button {
  width: 100%;
  height: 1.09375rem;
  position: absolute;
  bottom: 0;
  left: 0;
}
.section.five {
  background: url("../images/bg3.jpg");
  background-size: 100% 100%;
}
.section.five .warp {
  width: 8.46875rem;
  height: 9.96875rem;
  background: #2077b1;
  border-radius: 0.125rem;
  margin: 0.78125rem auto 0;
}
.section.five .warp p {
  font-size: 0.4375rem;
  color: #fff;
  line-height: 0.625rem;
  padding: 0.53125rem 0.6875rem;
}
.section.five .warp .QRcode {
  width: 3.40625rem;
  height: 3.4375rem;
  background: url("../images/QRcoed.png");
  background-size: 100% 100%;
  margin: 0.59375rem auto 0.1875rem;
}
.section.five .warp p.ftil {
  font-size: 0.375rem;
  color: #9ED6FC;
  line-height: 0.5625rem;
  padding: 0;
  text-align: center;
}
.section.five .warp .rankbtn {
  width: 3.578125rem;
  height: 0.78125rem;
  background: url("../images/rankbtn.png");
  background-size: 100% 100%;
  border: none;
  display: block;
  margin: 0.46875rem auto 0;
}
.section.five .rankwarp {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}
.section.five .rankwarp .ranklist {
  width: 7.359375rem;
  height: 10.5rem;
  background: url("../images/ranklist.png");
  background-size: 100% 100%;
  margin: 1.6875rem auto 0;
  position: relative;
}
.section.five .rankwarp .list-box {
  width: 7.390625rem;
  height: 7.90625rem;
  position: absolute;
  bottom: 0;
  overflow: scroll;
  padding: 0.40625rem 0;
  box-sizing: border-box;
  text-align: center;
}
.section.five .rankwarp .list-item {
  margin: 0.15625rem 0;
}
.section.five .rankwarp .list-item > span {
  font-size: 0.4375rem;
  color: #56688e;
}
.section.five .rankwarp .list-item > span.phone {
  margin-left: 1.28125rem;
}
.arrow {
  width: 0.625rem;
  height: 0.640625rem;
  background: url("../images/arrow.png");
  background-size: 100% 100%;
  animation: arrow 1s linear infinite;
  animation-delay: 2s;
  opacity: 0;
  position: absolute;
  bottom: 0.3125rem;
  left: 50%;
  margin-left: -0.3125rem;
}
.flower {
  width: 8.03125rem;
  height: 10.9375rem;
  background: url("../images/flower.png");
  background-size: 100% 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  animation: flower 2s linear infinite;
}
.flower4 {
  width: 8.03125rem;
  height: 10.9375rem;
  background: url("../images/flower.png");
  background-size: 100% 100%;
  position: absolute;
  left: 1.5625rem;
  top: 3rem;
  opacity: 0;
  animation: flower 3s linear infinite;
  animation-delay: 1.5s;
}
.flower3 {
  width: 0.9375rem;
  height: 0.875rem;
  background: url("../images/flower2.png");
  background-size: 100% 100%;
  position: absolute;
  right: 1.03125rem;
  top: 6.015625rem;
  animation: flower3 3s linear infinite;
}
.flower5 {
  width: 0.9375rem;
  height: 0.875rem;
  background: url("../images/flower2.png");
  background-size: 100% 100%;
  position: absolute;
  left: 5.3125rem;
  top: 2.015625rem;
  animation: flower4 3s linear infinite;
  animation-delay: 1.5s;
  opacity: 0;
}
.flower2 {
  width: 0.578125rem;
  height: 0.546875rem;
  background: url("../images/flower2.png");
  background-size: 100% 100%;
  position: absolute;
  left: 5.78125rem;
  top: 2.8125rem;
  animation: flower2 5s linear infinite;
}
.section.first.section-out {
  animation: out 1s;
  animation-fill-mode: forwards;
}
.section.sec.section-in {
  display: block !important;
  animation: in 1s;
  animation-fill-mode: forwards;
}
.carmove {
  width: 1.203125rem;
  height: 0.875rem;
  background: url("../images/movecar.png");
  background-size: 100% 100%;
  position: absolute;
  bottom: 3.8625rem;
  left: 4.23125rem;
  animation: carmove1 1s linear;
  animation-fill-mode: forwards;
  z-index: 999;
}
.carmove.carmove2 {
  animation: carmove2 1s linear;
  animation-fill-mode: forwards;
  left: 2.2rem;
  bottom: 2.66875rem;
}
.zh {
  width: 4.5625rem;
  height: 1.78125rem;
  background: url("../images/zh.png");
  background-size: 100% 100%;
  position: absolute;
  bottom: 3.61875rem;
  left: 0.46875rem;
  opacity: 0;
  animation: in 1s linear;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
.midline {
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 4.25rem;
}
.zhline {
  width: 2.28125rem;
  height: 0.984375rem;
  background: url("../images/line1.png");
  background-size: 100% 100%;
  background-size: 2.28125rem,0.984375rem;
  position: absolute;
  top: 0.625rem;
  left: 2.640625rem;
  animation: line1 1s linear;
  animation-fill-mode: forwards;
}
/*动画部分*/
@keyframes ground {
  from {
    transform: translateY(8rem) translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
  to {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
}
@keyframes slogan {
  from {
    transform: translateY(-8rem) translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
  to {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
}
@keyframes building {
  from {
    opacity: 1;
    transform: translateX(-8rem) translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
}
@keyframes car {
  from {
    opacity: 1;
    transform: translateX(8rem) translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
}
@keyframes out {
  from {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
    opacity: 1;
  }
  to {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
    opacity: 0;
  }
}
@keyframes in {
  from {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
    opacity: 1;
  }
}
@keyframes carmove1 {
  from {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
  to {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
    left: 2.2rem;
    bottom: 2.66875rem;
  }
}
@keyframes carmove2 {
  from {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
  to {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
    left: 0.5625rem;
    bottom: 1.40625rem;
  }
}
@keyframes line1 {
  from {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
    height: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
}
@keyframes arrow {
  from {
    transform: translateY(-0.8rem) translate3d(0, 0, 0);
    opacity: 0;
    backface-visibility: hidden;
    perspective: 1000;
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
}
@keyframes flower {
  0% {
    transform: translateY(0rem) translateX(1rem) translate3d(0, 0, 0);
    opacity: 0;
    backface-visibility: hidden;
    perspective: 1000;
  }
  50% {
    opacity: 1;
    transform: translateY(0.8rem) translateX(0rem) translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
  100% {
    opacity: 0;
    transform: translateY(1.6rem) translateX(-0.8rem) translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
}
@keyframes flower2 {
  0% {
    transform: translateY(0rem) translateX(0rem) rotate(0deg) translate3d(0, 0, 0);
    opacity: 0;
    backface-visibility: hidden;
    perspective: 1000;
  }
  50% {
    opacity: 1;
    transform: translateY(5rem) translateX(1rem) rotate(360deg) translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
  100% {
    opacity: 0;
    transform: translateY(10rem) translateX(2rem) rotate(720deg) translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
}
@keyframes flower3 {
  0% {
    transform: translateY(0rem) translateX(0rem) rotate(0deg) translate3d(0, 0, 0);
    opacity: 0;
    backface-visibility: hidden;
    perspective: 1000;
  }
  50% {
    opacity: 1;
    transform: translateY(3rem) translateX(-1rem) rotate(180deg) translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
  100% {
    opacity: 0;
    transform: translateY(6rem) translateX(-1.2rem) rotate(360deg) translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
}
@keyframes flower4 {
  0% {
    transform: translateY(0rem) translateX(0rem) rotate(0deg) translate3d(0, 0, 0);
    opacity: 0;
    backface-visibility: hidden;
    perspective: 1000;
  }
  50% {
    opacity: 1;
    transform: translateY(2rem) translateX(-1rem) rotate(180deg) translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
  100% {
    opacity: 0;
    transform: translateY(5rem) translateX(-2rem) rotate(360deg) translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
}
